<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">#include &lt;SoftwareSerial.h&gt;</span>

<span style="color: #008800; font-weight: bold">static</span> <span style="color: #008800; font-weight: bold">const</span> <span style="color: #333399; font-weight: bold">int</span> RXPin <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">3</span>, TXPin <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">4</span>;

SoftwareSerial <span style="color: #0066BB; font-weight: bold">softwareSerial</span>(RXPin, TXPin);

<span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">setup</span>(){
  Serial.begin(<span style="color: #0000DD; font-weight: bold">9600</span>);
  softwareSerial.begin(<span style="color: #0000DD; font-weight: bold">9600</span>);
}

<span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">loop</span>(){
  <span style="color: #008800; font-weight: bold">while</span> (softwareSerial.available() <span style="color: #333333">&gt;</span> <span style="color: #0000DD; font-weight: bold">0</span>){
    byte gpsData <span style="color: #333333">=</span> softwareSerial.read();
    Serial.write(gpsData);
  }
}
</pre></td></tr></table></div>


