<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

  <router-outlet></router-outlet>

<!--
<div class="main-view">
  <alert type="success">hello</alert>
</div>
-->
