<div class="main-view">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <table class="table">
        <tbody>
        <tr>
          <td>{{'screens.account.email' | translate}}</td>
          <th scope="row">{{userInfo.email}}</th>
        </tr>
        <tr>
          <td>{{ 'screens.account.package' | translate }}</td>
          <th scope="row">{{userInfo.packet.packet}}</th>
        </tr>
        <tr>
          <td>{{ 'screens.account.expirationTime' | translate }}</td>
          <th *ngIf="userInfo.packet.till" scope="row">{{userInfo.packet.till | date : 'yyyy.MM.dd HH:mm'}}</th>
          <th *ngIf="!userInfo.packet.till" scope="row">{{ 'screens.account.noLimit' | translate }}</th>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-2"></div>
  </div>
</div>
