<div class="main-view">

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">{{ 'screens.devices.table.header.no' | translate }}</th>
          <th scope="col">{{ 'screens.devices.table.header.name' | translate }}</th>
          <th scope="col">{{ 'screens.devices.table.header.imei' | translate }}</th>
          <th scope="col">{{ 'screens.devices.table.header.time' | translate }}</th>
          <th scope="col">{{ 'screens.devices.table.header.position' | translate }}</th>
          <th scope="col">{{ 'screens.devices.table.header.battery' | translate }}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of devices; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{device.name}}</td>
          <td>{{device.uid}}</td>
          <td>{{device.lastPositionTime | date:"yyyy.MM.dd HH:mm"}}</td>
          <td>{{device.latitude}};{{device.longitude}}</td>
          <td><i title="{{device.batteryLevel}}%" class="fa" [ngClass]="{
            'fa-battery-full':device.batteryLevel > 90,
            'fa-battery-three-quarters':device.batteryLevel > 60 && device.batteryLevel <= 90,
            'fa-battery-half':device.batteryLevel > 35 && device.batteryLevel <= 60,
            'fa-battery-quarter':device.batteryLevel <= 35 && device.batteryLevel > 7,
            'fa-battery-empty':device.batteryLevel <= 7}"></i> </td>
          <td><button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteDevice(device.id)">{{ 'screens.devices.btn.remove' | translate }}</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#addDevice">{{ 'screens.devices.btn.addDevice' | translate }}</a>
</div>

<div #addDevicePanel class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="addDevice" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ 'screens.devices.boxAdd.title' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form md-outline form-lg">
          <input #inputName id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
          <label for="form-lg">{{ 'screens.devices.boxAdd.name' | translate }}</label>
        </div>
        <div class="md-form md-outline form-lg">
          <input #inputImei id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
          <label for="form-lg">{{ 'screens.devices.boxAdd.noImei' | translate }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'screens.devices.boxAdd.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addImei()">{{ 'screens.devices.boxAdd.save' | translate }}</button>
      </div>
    </div>
  </div>
</div>
