<div class="main-view">

  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">

      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Basic</th>
          <th scope="col">Permium 30</th>
          <th scope="col">Premium 180</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <th scope="row">Ilość śledzonych urządzeń</th>
          <td>1</td>
          <td>3</td>
          <td>3</td>
        </tr>

        <tr>
          <th scope="row">Automatyczne odświeżenie mapy</th>
          <td>tak</td>
          <td>tak</td>
          <td>tak</td>
        </tr>

        <tr>
          <th scope="row">Przeglądanie historycznych danych</th>
          <td>nie</td>
          <td>tak</td>
          <td>tak</td>
        </tr>

        <tr>
          <th scope="row">Ważność</th>
          <td>bezterminowo</td>
          <td>30 dni</td>
          <td>180 dni</td>
        </tr>

        <tr>
          <th scope="row">Cena</th>
          <td>darmowy</td>
          <td>30 zł</td>
          <td>99 zł</td>
        </tr>
        <tr *ngIf="links.length == 2">
          <th scope="row"></th>
          <td></td>
         <!-- <td><a class="btn btn-primary" href="{{links[0].link}}">Kup Premium 30</a></td>
          <td><a class="btn btn-primary" href="{{links[1].link}}">Kup Premium 180</a></td>-->
          <td><a class="btn btn-primary">Kup Premium 30</a></td>
          <td><a class="btn btn-primary">Kup Premium 180</a></td>
        </tr>
        </tbody>
      </table>

      <!--
      <h3>Strona jest jeszcze w budowie. Obecnie dostępne są płatności testowe, bez rzeczywistego pobierania pieniędzy z konta.</h3>
      -->

    </div>
    <div class="col-2"></div>
  </div>

</div>
