<span class="center">
  <div class="row-fluid" style="margin-left: 20px">
        <div class="input-group date text-center" data-provide="datepicker">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="positionsActualId" value="positionsActual" checked (change)="onSelectionRadioChange($event)">
            <label class="form-check-label" for="positionsActualId">{{ 'screens.map.currentPositions' | translate }}</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="positionsHistoricalId" value="positionsHistorical" (change)="onSelectionRadioChange($event)">
            <label class="form-check-label" for="positionsHistoricalId">{{ 'screens.map.historicData' | translate }}</label>
          </div>

           <ejs-datepicker #ejDatePicker id='datepicker' format='      dd-MM-yyyy' placeholder="{{ 'screens.map.selectDay' | translate }}" [value]='dateValue' style="text-align: right; visibility: hidden; float; margin-left: 20px"
                           [min]='minDate' [max]='maxDate' (change)='onDatePickerChange($event)'></ejs-datepicker>

         </div>
  </div>
</span>
<div id="div-map-id" style="height: 90%; width: 100%; visibility: hidden"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)">
</div>
