<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">
    <img src="./assets/img/logo.png" style="display: inline-block;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/map">{{ 'menu.map' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/devices">{{ 'menu.devices' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/account">{{ 'menu.account' | translate }}</a></li>
    </div>
  </div>

  <div class="navbar-text">
    <div class="userDetails" *ngIf="userDetails">
      <button class="btn flag-icon flag-icon-pl" style="margin-right: 5px" (click)="gpsmCommon.useLanguage('pl')"></button>
      <button class="btn flag-icon flag-icon-gb" style="margin-right: 20px" (click)="gpsmCommon.useLanguage('en')"></button>
      {{userDetails.username}} &nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-light" (click)="doLogout()">{{ 'menu.logout' | translate }}</button>
    </div>
  </div>
</nav>
