<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-weight: bold">package</span> com<span style="color: #333333">.</span><span style="color: #0000CC">pilnuj</span><span style="color: #333333">.</span><span style="color: #0000CC">examples</span><span style="color: #333333">.</span><span style="color: #0000CC">server</span><span style="color: #333333">.</span><span style="color: #0000CC">rest</span><span style="color: #333333">.</span><span style="color: #0000CC">dto</span><span style="color: #333333">;</span>

<span style="color: #008800; font-weight: bold">public</span> <span style="color: #008800; font-weight: bold">class</span> <span style="color: #BB0066; font-weight: bold">LocationDto</span> <span style="color: #333333">{</span>
    <span style="color: #008800; font-weight: bold">private</span> String imei<span style="color: #333333">;</span>
    <span style="color: #008800; font-weight: bold">private</span> <span style="color: #333399; font-weight: bold">double</span> lat<span style="color: #333333">,</span> lng<span style="color: #333333">;</span>

    <span style="color: #008800; font-weight: bold">public</span> String <span style="color: #0066BB; font-weight: bold">getImei</span><span style="color: #333333">()</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">return</span> imei<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #008800; font-weight: bold">public</span> <span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">setImei</span><span style="color: #333333">(</span>String imei<span style="color: #333333">)</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">this</span><span style="color: #333333">.</span><span style="color: #0000CC">imei</span> <span style="color: #333333">=</span> imei<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #008800; font-weight: bold">public</span> <span style="color: #333399; font-weight: bold">double</span> <span style="color: #0066BB; font-weight: bold">getLat</span><span style="color: #333333">()</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">return</span> lat<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #008800; font-weight: bold">public</span> <span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">setLat</span><span style="color: #333333">(</span><span style="color: #333399; font-weight: bold">double</span> lat<span style="color: #333333">)</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">this</span><span style="color: #333333">.</span><span style="color: #0000CC">lat</span> <span style="color: #333333">=</span> lat<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #008800; font-weight: bold">public</span> <span style="color: #333399; font-weight: bold">double</span> <span style="color: #0066BB; font-weight: bold">getLng</span><span style="color: #333333">()</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">return</span> lng<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #008800; font-weight: bold">public</span> <span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">setLng</span><span style="color: #333333">(</span><span style="color: #333399; font-weight: bold">double</span> lng<span style="color: #333333">)</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">this</span><span style="color: #333333">.</span><span style="color: #0000CC">lng</span> <span style="color: #333333">=</span> lng<span style="color: #333333">;</span>
    <span style="color: #333333">}</span>

    <span style="color: #555555; font-weight: bold">@Override</span>
    <span style="color: #008800; font-weight: bold">public</span> String <span style="color: #0066BB; font-weight: bold">toString</span><span style="color: #333333">()</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">return</span> <span style="background-color: #fff0f0">&quot;LocationDto{&quot;</span> <span style="color: #333333">+</span>
                <span style="background-color: #fff0f0">&quot;imei=&#39;&quot;</span> <span style="color: #333333">+</span> imei <span style="color: #333333">+</span> <span style="color: #0044DD">&#39;\&#39;&#39;</span> <span style="color: #333333">+</span>
                <span style="background-color: #fff0f0">&quot;, lat=&quot;</span> <span style="color: #333333">+</span> lat <span style="color: #333333">+</span>
                <span style="background-color: #fff0f0">&quot;, lng=&quot;</span> <span style="color: #333333">+</span> lng <span style="color: #333333">+</span>
                <span style="color: #0044DD">&#39;}&#39;</span><span style="color: #333333">;</span>
    <span style="color: #333333">}</span>
<span style="color: #333333">}</span>
</pre></td></tr></table></div>


