<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
    <span style="color: #007700">&quot;imei&quot;</span>: <span style="background-color: #fff0f0">&quot;123456789012345&quot;</span>,
    <span style="color: #007700">&quot;lat&quot;</span>: <span style="color: #6600EE; font-weight: bold">52.123</span>,
    <span style="color: #007700">&quot;lng&quot;</span>: <span style="color: #6600EE; font-weight: bold">21.345</span>
}
</pre></div>

