<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #555555; font-weight: bold">@PostMapping</span><span style="color: #333333">(</span><span style="background-color: #fff0f0">&quot;/add&quot;</span><span style="color: #333333">)</span>
<span style="color: #008800; font-weight: bold">public</span> ResponseEntity<span style="color: #333333">&lt;</span>Void<span style="color: #333333">&gt;</span> <span style="color: #0066BB; font-weight: bold">add</span><span style="color: #333333">(</span><span style="color: #555555; font-weight: bold">@RequestBody</span> LocationDto location<span style="color: #333333">)</span> <span style="color: #333333">{</span>
    System<span style="color: #333333">.</span><span style="color: #0000CC">out</span><span style="color: #333333">.</span><span style="color: #0000CC">println</span><span style="color: #333333">(</span>location<span style="color: #333333">);</span>    
    <span style="color: #008800; font-weight: bold">return</span> <span style="color: #008800; font-weight: bold">new</span> ResponseEntity<span style="color: #333333">&lt;&gt;(</span>HttpStatus<span style="color: #333333">.</span><span style="color: #0000CC">CREATED</span><span style="color: #333333">);</span>
<span style="color: #333333">}</span>
</pre></div>


