<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-weight: bold">package</span> com<span style="color: #333333">.</span><span style="color: #0000CC">pilnuj</span><span style="color: #333333">.</span><span style="color: #0000CC">examples</span><span style="color: #333333">.</span><span style="color: #0000CC">server</span><span style="color: #333333">.</span><span style="color: #0000CC">rest</span><span style="color: #333333">.</span><span style="color: #0000CC">controller</span><span style="color: #333333">;</span>
<span style="color: #008800; font-weight: bold">import</span> <span style="color: #0e84b5; font-weight: bold">org.springframework.web.bind.annotation.GetMapping</span><span style="color: #333333">;</span><span style="color: #008800; font-weight: bold">import</span> <span style="color: #0e84b5; font-weight: bold">org.springframework.web.bind.annotation.RestController</span><span style="color: #333333">;</span>
<span style="color: #008800; font-weight: bold">import</span> <span style="color: #0e84b5; font-weight: bold">java.time.LocalDateTime</span><span style="color: #333333">;</span><span style="color: #008800; font-weight: bold">import</span> <span style="color: #0e84b5; font-weight: bold">java.time.ZoneId</span><span style="color: #333333">;</span><span style="color: #008800; font-weight: bold">import</span> <span style="color: #0e84b5; font-weight: bold">java.time.format.DateTimeFormatter</span><span style="color: #333333">;</span>
<span style="color: #555555; font-weight: bold">@RestControllerpublic</span> <span style="color: #008800; font-weight: bold">class</span> <span style="color: #BB0066; font-weight: bold">ExampleController</span> <span style="color: #333333">{</span>

    <span style="color: #555555; font-weight: bold">@GetMapping</span><span style="color: #333333">(</span><span style="background-color: #fff0f0">&quot;/time&quot;</span><span style="color: #333333">)</span>
    <span style="color: #008800; font-weight: bold">public</span> String <span style="color: #0066BB; font-weight: bold">time</span><span style="color: #333333">()</span> <span style="color: #333333">{</span>
        <span style="color: #008800; font-weight: bold">return</span> LocalDateTime<span style="color: #333333">.</span><span style="color: #0000CC">now</span><span style="color: #333333">(</span>ZoneId<span style="color: #333333">.</span><span style="color: #0000CC">systemDefault</span><span style="color: #333333">())</span>
                <span style="color: #333333">.</span><span style="color: #0000CC">format</span><span style="color: #333333">(</span>DateTimeFormatter<span style="color: #333333">.</span><span style="color: #0000CC">ofPattern</span><span style="color: #333333">(</span><span style="background-color: #fff0f0">&quot;yyyy-MM-dd HH:mm:ss&quot;</span><span style="color: #333333">));</span>    <span style="color: #333333">}</span>
<span style="color: #333333">}</span>
</pre></td></tr></table></div>


