<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">#include &lt;SoftwareSerial.h&gt;</span>

<span style="color: #008800; font-weight: bold">static</span> <span style="color: #008800; font-weight: bold">const</span> <span style="color: #333399; font-weight: bold">int</span> RXPin <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">10</span>, TXPin <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">11</span>;

SoftwareSerial <span style="color: #0066BB; font-weight: bold">mySerial</span>(RXPin, TXPin); 

<span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">setup</span>() {
  <span style="color: #888888">// begin serial communication with Arduino</span>
  Serial.begin(<span style="color: #0000DD; font-weight: bold">9600</span>);
  
  <span style="color: #888888">// begin serial communication SIM800L </span>
  mySerial.begin(<span style="color: #0000DD; font-weight: bold">9600</span>);

  Serial.println(<span style="background-color: #fff0f0">&quot;Initializing...&quot;</span>);
  delay(<span style="color: #0000DD; font-weight: bold">500</span>);

  mySerial.println(<span style="background-color: #fff0f0">&quot;AT+CMGF=1&quot;</span>); <span style="color: #888888">// set TEXT mode</span>
  updateSerial();
  
  <span style="color: #888888">// change +ZZ with country code and xxxxxxxxx with phone number to SMS</span>
  <span style="color: #888888">// Poland code is +48</span>
  mySerial.println(<span style="background-color: #fff0f0">&quot;AT+CMGS=</span><span style="color: #666666; font-weight: bold; background-color: #fff0f0">\&quot;</span><span style="background-color: #fff0f0">+ZZxxxxxxxxx</span><span style="color: #666666; font-weight: bold; background-color: #fff0f0">\&quot;</span><span style="background-color: #fff0f0">&quot;</span>); 
  updateSerial();
  
  mySerial.print(<span style="background-color: #fff0f0">&quot;Hello world!&quot;</span>); <span style="color: #888888">// add TEXT content</span>
  updateSerial();
  
  mySerial.write(<span style="color: #0000DD; font-weight: bold">26</span>); <span style="color: #888888">// ASCII code ctrl+z</span>
}

<span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">loop</span>()
{
  updateSerial();
}

<span style="color: #333399; font-weight: bold">void</span> <span style="color: #0066BB; font-weight: bold">updateSerial</span>()
{
  delay(<span style="color: #0000DD; font-weight: bold">200</span>);
  <span style="color: #008800; font-weight: bold">while</span>(mySerial.available()) 
  {
    <span style="color: #888888">// forward Software Serial to Serial Port</span>
    Serial.write(mySerial.read());
  }
}
</pre></td></tr></table></div>


